.our-job-list{
    display: flex;
    padding-bottom: 94px;

    &__item{
        position: relative;

        &:not(:last-child){
            margin-right: 30px;
        }
    }
    
    &__caption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background: var(--our-job-caption-background);
    position: absolute;
    bottom: 0;
    }

    &__txt{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        color: var(--primary-bg-color);
    }
}