.header__logo,
.footer__logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    margin-right: 93px;
}

.header__logo--right{
    color: var(--primary-title-color);
}

.footer__logo--right{
    color: var(--primary-bg-color);
}