.our-team__title,
.our-clients__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-title-color);
    padding-top: 94px;
    margin-bottom: 50px;
}

.our-job__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-title-color);
    padding-bottom: 50px;
}