:root {
    --primary-txt-color: #757575;
    --primary-title-color: #000000;
    --accent-color: #2196F3;
    --accent-btn-color: #188CE8;
    --primary-bg-color: #FFFFFF;
    --hero-bg-color:#2F303A;
    --secondary-title-color: #212121;
    --our-team-bg-color: #f5f4fa;
    --btn-box-shadow-color: rgba(0, 0, 0, 0.15);
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-input-border: rgba(255, 255, 255, 0.3);
    --header-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
    --sm-icon-color: #AFB1B8;
    --hero-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
    --our-job-caption-background: rgba(47, 48, 58, 0.8);
    --box-shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --sm-link-color: rgba(255, 255, 255, 0.1);
    --footer-box-shadow: rgba(0, 0, 0, 0.15);
    --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.5);
    --modal-close-btn-border-color: rgba(0, 0, 0, 0.1);
    --modal-input-data-border-color: rgba(33, 33, 33, 0.2);
    --textarea-text-color: rgba(117, 117, 117, 0.5);
    --portfolio-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --portfolio-item-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --cubic-bezier-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }